{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ experience.title }}
  </h2>

  {% for job in experience.jobs %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ job.role }}</h3>
        <div class="time">{{ job.time }}</div>
      </div><!--//upper-row-->

      <div class="company">
        {% if job.company-url %}
        <a href="{{ job.company-url }}">{{ job.company }}</a>
        {% else %}
        {{ job.company }}
        {% endif %}
      </div>

    </div><!--//meta-->

    {% if job.details %}
    <div class="details">
      {{ job.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

