@media print {
   @page {
      size: A4;
   }

   a[href]:after {
      content: none !important;
   }

   body {
      font-size: 10pt;
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
   }

   .main-wrapper {
      .section {
         margin-bottom: 20pt;

         .section-title {
            margin-bottom: 5pt;
         }

         .item {
            margin-bottom: 5pt;

            .title {
               margin-bottom: 0;
               font-weight: bold;
               display: inline-block;
            }

            .organization,
            .authors,
            .conference {
               display: inline-block;
               font-style: italic;
            }
         }
      }

      .job-title {
         display: inline-block;
         font-weight: bold;
      }

      .company {
         margin-bottom: 0;
      }

      .time {
         float: right;
         color: black !important;
         font-style: italic;
         font-size: 8pt;
         print-color-adjust: exact;
         -webkit-print-color-adjust: exact;
      }
   }

   .sidebar-wrapper {
      position: static;
      float: right;
      width: 25%;
      border: 1pt solid black;
      margin: 10pt;
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;

      .profile-container,
      .container-block {
         padding: 5pt;
      }

      .profile-container {
         img.avatar {
            filter: grayscale(1);
            -webkit-filter: greyscale(1);
         }

         .name {
            font-size: 16pt;
         }
      }

      .container-block {
         border-top: 1pt dotted black;

         .container-block-title {
            margin-bottom: 2pt;
         }

         li {
            margin-bottom: 1pt;
         }

      }
   }

   .skillset {
      .level-title {
         margin-bottom: 3pt;
         display: inline-block;
         width: 30%;
      }

      .level-bar {
         display: inline-block;
         width: 45%;
         border: 1pt solid black;
         border-radius: 1pt;
      }

      .level-bar-inner {
         position: relative;
         top: -1px;
         left: -1px;
         height: 11px;
         background-color: black !important;
         print-color-adjust: exact;
         -webkit-print-color-adjust: exact;
      }
   }

   footer,
   .no-print,
   .remove-container.container-block {
      display: none;
   }

   .experiences-section {
      page-break-after: always;
   }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
      color: #ffffff !important;
   }

}